$black: #000000;
$white: #ffffff;
$yellow: #FCD64F;
$gray: #f0f0f0;
$dark-gray:  #231F20;
$btn-color: #15C95D;
$btn-hover: #0aa147;

// $font-weight: (
//     "regular": 400,
//     "medium": 500,
//     "bold": 700
// );
